In [307]:
import pandas as pd
import numpy as np

In [308]:
df = pd.read_csv('car_data.csv')

In [309]:
df = pd.get_dummies(df, columns=['Fuel_Type', 'Selling_type', 'Transmission'])
df

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Dealer,Selling_type_Individual,Transmission_Automatic,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,0,False,False,True,True,False,False,True
1,sx4,2013,4.75,9.54,43000,0,False,True,False,True,False,False,True
2,ciaz,2017,7.25,9.85,6900,0,False,False,True,True,False,False,True
3,wagon r,2011,2.85,4.15,5200,0,False,False,True,True,False,False,True
4,swift,2014,4.60,6.87,42450,0,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,0,False,True,False,True,False,False,True
297,brio,2015,4.00,5.90,60000,0,False,False,True,True,False,False,True
298,city,2009,3.35,11.00,87934,0,False,False,True,True,False,False,True
299,city,2017,11.50,12.50,9000,0,False,True,False,True,False,False,True
300,brio,2016,5.30,5.90,5464,0,False,False,True,True,False,False,True

In [310]:
current_year = 2024
df['Car_Age'] = current_year - df['Year']

In [311]:
df = df.drop(['Car_Name', 'Year'], axis=1)
df
df = df.astype({'Fuel_Type_CNG': int, 'Fuel_Type_Diesel': int, 'Fuel_Type_Petrol': int,
                'Selling_type_Dealer': int, 'Transmission_Manual': int})
df

,Selling_Price,Present_Price,Driven_kms,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Selling_type_Dealer,Selling_type_Individual,Transmission_Automatic,Transmission_Manual,Car_Age
0,3.35,5.59,27000,0,0,0,1,1,False,False,1,10
1,4.75,9.54,43000,0,0,1,0,1,False,False,1,11
2,7.25,9.85,6900,0,0,0,1,1,False,False,1,7
3,2.85,4.15,5200,0,0,0,1,1,False,False,1,13
4,4.60,6.87,42450,0,0,1,0,1,False,False,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33988,0,0,1,0,1,False,False,1,8
297,4.00,5.90,60000,0,0,0,1,1,False,False,1,9
298,3.35,11.00,87934,0,0,0,1,1,False,False,1,15
299,11.50,12.50,9000,0,0,1,0,1,False,False,1,7
300,5.30,5.90,5464,0,0,0,1,1,False,False,1,8

In [312]:
x = df.drop('Selling_Price', axis=1).values
y = df['Selling_Price'].values

In [313]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=.2)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [314]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1500)
model.fit(xtrain,ytrain)
res = model.predict(xtest)

In [315]:
res = res.reshape(len(res),1)
ytest = ytest.reshape(len(ytest),1)

In [316]:
print(np.concatenate((res,ytest),axis=1))

[[ 6.2209      5.25      ]
 [ 2.68727333  2.55      ]
 [ 0.25123333  0.25      ]
 [ 0.32782     0.18      ]
 [ 4.32273333  4.        ]
 [ 4.4092      4.        ]
 [ 8.23196667  9.25      ]
 [ 2.84056667  2.35      ]
 [ 0.27918     0.27      ]
 [ 2.6612      3.25      ]
 [ 9.18568667  8.4       ]
 [ 9.18568667  8.25      ]
 [ 0.65489333  0.6       ]
 [11.2209      8.55      ]
 [ 8.98047333  8.99      ]
 [ 7.84217333  7.75      ]
 [ 5.32103333  5.25      ]
 [ 5.7237      5.5       ]
 [ 0.8034      0.72      ]
 [ 1.16532     1.2       ]
 [ 7.04014     6.95      ]
 [ 3.0695      2.65      ]
 [ 5.22594667  4.8       ]
 [ 0.81834     0.75      ]
 [ 5.76401333  5.95      ]
 [10.48808     9.15      ]
 [22.13466667 19.99      ]
 [ 9.15291333  8.5       ]
 [ 2.59843333  1.95      ]
 [ 1.10918     0.35      ]
 [ 0.54218     0.55      ]
 [ 4.38733333  4.75      ]
 [ 4.51073333  4.65      ]
 [ 3.2225      3.        ]
 [ 6.76478667  5.25      ]
 [20.47382    23.        ]
 [ 0.25397333  0.3       ]
 [16.16607333 18.        ]
 [ 4.83486667  4.5       ]
 [10.56262    10.25      ]
 [ 0.46744     0.5       ]
 [ 2.60556667  2.9       ]
 [ 6.83101333  6.5       ]
 [ 3.3697      3.25      ]
 [ 4.43476667  3.75      ]
 [ 3.6581      4.15      ]
 [ 4.00848     3.6       ]
 [ 2.81903333  3.        ]
 [ 4.82887333  5.75      ]
 [ 0.21958     0.1       ]
 [ 1.16285333  0.95      ]
 [21.86227333 23.        ]
 [ 6.93082     7.45      ]
 [ 3.62833333  3.1       ]
 [ 0.45719333  0.45      ]
 [10.56971333 11.45      ]
 [ 0.34768667  0.5       ]
 [ 0.58812667  0.48      ]
 [ 2.32792     1.95      ]
 [ 0.32720667  0.25      ]
 [ 6.28646     5.5       ]]

In [317]:
from sklearn.metrics import r2_score, mean_squared_error
r2 = r2_score(ytest, res)
print(f'R-squared score: {r2}')

mse = mean_squared_error(ytest, res)
print(f'Mean Squared Error: {mse}')

R-squared score: 0.9770513749081406
Mean Squared Error: 0.6180406863555469